<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.springbootNewshop.mapper.SalesReturnsDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ss.springbootNewshop.bean.SalesReturnsDetail" >
    <id column="returns_detail_id" property="returnsDetailId" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="BIGINT" />
    <result column="invoice_code" property="invoiceCode" jdbcType="VARCHAR" />
    <result column="products_code" property="productsCode" jdbcType="VARCHAR" />
    <result column="products_model" property="productsModel" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="unit_id" property="unitId" jdbcType="BIGINT" />
    <result column="quantity" property="quantity" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="cost_total" property="costTotal" jdbcType="DECIMAL" />
    <result column="margin_total" property="marginTotal" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="INTEGER" />
    <result column="change_qty" property="changeQty" jdbcType="DECIMAL" />
    <result column="finished_qty" property="finishedQty" jdbcType="DECIMAL" />
    <result column="is_audit" property="isAudit" jdbcType="INTEGER" />
    <result column="source_no" property="sourceNo" jdbcType="VARCHAR" />
    <result column="detail_id" property="detailId" jdbcType="BIGINT" />
    <result column="type_id" property="typeId" jdbcType="BIGINT" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="account_set_id" property="accountSetId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    returns_detail_id, number, invoice_code, products_code, products_model, color, size, 
    unit_id, quantity, price, discount_price, money, cost, cost_total, margin_total, 
    discount, change_qty, finished_qty, is_audit, source_no, detail_id, type_id, batch_no, 
    ext1, ext2, ext3, memo, account_set_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sales_returns_detail
    where returns_detail_id = #{returnsDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sales_returns_detail
    where returns_detail_id = #{returnsDetailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ss.springbootNewshop.bean.SalesReturnsDetail" >
    insert into sales_returns_detail (returns_detail_id, number, invoice_code, 
      products_code, products_model, color, 
      size, unit_id, quantity, 
      price, discount_price, money, 
      cost, cost_total, margin_total, 
      discount, change_qty, finished_qty, 
      is_audit, source_no, detail_id, 
      type_id, batch_no, ext1, 
      ext2, ext3, memo, account_set_id
      )
    values (#{returnsDetailId,jdbcType=BIGINT}, #{number,jdbcType=BIGINT}, #{invoiceCode,jdbcType=VARCHAR}, 
      #{productsCode,jdbcType=VARCHAR}, #{productsModel,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{unitId,jdbcType=BIGINT}, #{quantity,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{discountPrice,jdbcType=DECIMAL}, #{money,jdbcType=DECIMAL}, 
      #{cost,jdbcType=DECIMAL}, #{costTotal,jdbcType=DECIMAL}, #{marginTotal,jdbcType=DECIMAL}, 
      #{discount,jdbcType=INTEGER}, #{changeQty,jdbcType=DECIMAL}, #{finishedQty,jdbcType=DECIMAL}, 
      #{isAudit,jdbcType=INTEGER}, #{sourceNo,jdbcType=VARCHAR}, #{detailId,jdbcType=BIGINT}, 
      #{typeId,jdbcType=BIGINT}, #{batchNo,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{accountSetId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ss.springbootNewshop.bean.SalesReturnsDetail" >
    insert into sales_returns_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="returnsDetailId != null" >
        returns_detail_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="invoiceCode != null" >
        invoice_code,
      </if>
      <if test="productsCode != null" >
        products_code,
      </if>
      <if test="productsModel != null" >
        products_model,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="costTotal != null" >
        cost_total,
      </if>
      <if test="marginTotal != null" >
        margin_total,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="changeQty != null" >
        change_qty,
      </if>
      <if test="finishedQty != null" >
        finished_qty,
      </if>
      <if test="isAudit != null" >
        is_audit,
      </if>
      <if test="sourceNo != null" >
        source_no,
      </if>
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="accountSetId != null" >
        account_set_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="returnsDetailId != null" >
        #{returnsDetailId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=BIGINT},
      </if>
      <if test="invoiceCode != null" >
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="productsCode != null" >
        #{productsCode,jdbcType=VARCHAR},
      </if>
      <if test="productsModel != null" >
        #{productsModel,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="costTotal != null" >
        #{costTotal,jdbcType=DECIMAL},
      </if>
      <if test="marginTotal != null" >
        #{marginTotal,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="changeQty != null" >
        #{changeQty,jdbcType=DECIMAL},
      </if>
      <if test="finishedQty != null" >
        #{finishedQty,jdbcType=DECIMAL},
      </if>
      <if test="isAudit != null" >
        #{isAudit,jdbcType=INTEGER},
      </if>
      <if test="sourceNo != null" >
        #{sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="detailId != null" >
        #{detailId,jdbcType=BIGINT},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="accountSetId != null" >
        #{accountSetId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ss.springbootNewshop.bean.SalesReturnsDetail" >
    update sales_returns_detail
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=BIGINT},
      </if>
      <if test="invoiceCode != null" >
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="productsCode != null" >
        products_code = #{productsCode,jdbcType=VARCHAR},
      </if>
      <if test="productsModel != null" >
        products_model = #{productsModel,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="costTotal != null" >
        cost_total = #{costTotal,jdbcType=DECIMAL},
      </if>
      <if test="marginTotal != null" >
        margin_total = #{marginTotal,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="changeQty != null" >
        change_qty = #{changeQty,jdbcType=DECIMAL},
      </if>
      <if test="finishedQty != null" >
        finished_qty = #{finishedQty,jdbcType=DECIMAL},
      </if>
      <if test="isAudit != null" >
        is_audit = #{isAudit,jdbcType=INTEGER},
      </if>
      <if test="sourceNo != null" >
        source_no = #{sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="detailId != null" >
        detail_id = #{detailId,jdbcType=BIGINT},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="accountSetId != null" >
        account_set_id = #{accountSetId,jdbcType=BIGINT},
      </if>
    </set>
    where returns_detail_id = #{returnsDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ss.springbootNewshop.bean.SalesReturnsDetail" >
    update sales_returns_detail
    set number = #{number,jdbcType=BIGINT},
      invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      products_code = #{productsCode,jdbcType=VARCHAR},
      products_model = #{productsModel,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      money = #{money,jdbcType=DECIMAL},
      cost = #{cost,jdbcType=DECIMAL},
      cost_total = #{costTotal,jdbcType=DECIMAL},
      margin_total = #{marginTotal,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=INTEGER},
      change_qty = #{changeQty,jdbcType=DECIMAL},
      finished_qty = #{finishedQty,jdbcType=DECIMAL},
      is_audit = #{isAudit,jdbcType=INTEGER},
      source_no = #{sourceNo,jdbcType=VARCHAR},
      detail_id = #{detailId,jdbcType=BIGINT},
      type_id = #{typeId,jdbcType=BIGINT},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      account_set_id = #{accountSetId,jdbcType=BIGINT}
    where returns_detail_id = #{returnsDetailId,jdbcType=BIGINT}
  </update>
</mapper>