@charset "utf-8";
/* 基准字号 */
html {
	height: 100%;
	font-size: 62.5%;
}
body{
	height: 100%;
	background-color: #FFFFFF !important;
}
.flex{
	display: flex;
	display: -webkit-flex;
}
/* 溢出部分用省略号代替,禁止换行 */
.no-wrap{
	overflow: hidden;
	white-space: nowrap;
	text-overflow : ellipsis;
}
/* 溢出部分用省略号代替,文本最多显示行数(默认为3,需要调整请在行内添加-webkit-line-clamp样式) */
.max-wrap{
	-webkit-line-clamp: 3;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.no-select{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:transparent;
}
/* 清除原生button的边框 */
.button-clear{
	border: none;
	outline: none;
}
/* 隐藏 */
.hide{
	display: none !important;
}
/* (页面顶部)背景颜色,元素高度 */
.header{
	background: #a772b5;
    height: 4rem;
    
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    z-index: 100000;
}
/* (页面顶部-左边部分)与页面左边的距离*/
.header-left{
	position: absolute;
    top: 0;
	left: 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/* (页面顶部-中间标题) */
.header-center{
	height: 100%;
	justify-content: center;
    align-items: center;
}
/* (页面顶部-中间标题-字体样式)字体颜色,字体大小,字体粗细 */
.header-center span{
	color: #FFFFFF;
	font-size: 1.8rem;
	font-weight: 500;
}
/* (页面顶部-右边部分)与页面右边的距离*/
.header-right{
	position: absolute;
    top: 0;
	right: 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/* (页面底部)背景颜色,元素高度,上边框,排列间距类型 */
.footer{
	background: #FFFFFF;
	height: 4.1rem;
	border-top: 1px solid #ddd;
	justify-content: space-between;
    
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    z-index: 10000000;
}
.btn-purple{
	background-color: #a772b5 !important;
    border-color: #a772b5 !important;
    color: #FFFFFF !important;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 2px;
    outline: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: background-color 300ms ease-out,border-color 300ms ease-out;
    transition: background-color 300ms ease-out,border-color 300ms ease-out;
}
.btn-purple:active{
    background-color: #9765a5 !important;
    border-color: #9765a5 !important;
    color: #FFFFFF !important;
}


.page-head{
	margin-top:10px;
	text-align:center;
	font-size:20px;
	margin-bottom:5px;
	height:40px;
	font-weight:800;
}
.common-line{
	height:1px;background:#185598;margin-top:10px;margin-bottom:10px
}

.top-right-btn{
	float:right;
	margin-right:35px;
	font-size:18px
}

.btn-back{
	height:40px;
	width:40px;
	background:url(../icon/back.png) no-repeat;
	float:left;
	margin-left:20px;
}

.img-update{
	height:25px;
	width:25px;
	
}
.item-line{
	height:1px;
	background:#6fa8dc;
	margin-top:5px;
	margin-bottom:5px;
}

.btn-update{
	width:300px;
	height:60px;
	font-size:18px;
	margin-top:50px;
}
.layui-inline{
	margin: 0 !important;
}
.layui-form-select dl dd.layui-this{
	background-color: #a772b5 !important;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
	background-color: #a772b5 !important;
}
.layui-laypage a:hover {
    color: #a772b5 !important;
}
.layui-form-checkbox[lay-skin=primary]:hover i{
	border-color: #a772b5 !important;
}
.layui-form-checked[lay-skin=primary] i{
	border-color: #a772b5 !important;
	background-color: #a772b5 !important;
}
.layui-layer-btn .layui-layer-btn0{
	border-color: #a772b5 !important;
	background-color: #a772b5 !important;
}

.layui-form-radio>i:hover, .layui-form-radioed>i{
	color: #a772b5 !important;
}
.info-lable{
	
}
.info-item {
	background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding-left: 10px;
    width: 100%;
    height: 38px;
    line-height: 1.3;
}
.info-item:focus {
    border-color: #C9C9C9!important;
}
.info-item:disabled {
    background-color: rgb(235, 235, 228);
}