
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>newshop后台</title>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/static/js/html5.min.js}"  charset="utf-8"></script>
    <script th:src="@{/static/js/xadmin.js}" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js" charset="utf-8"></script>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link type="text/css"  th:href="@{/static/css/bootstrap.css}"   rel="stylesheet" >
    <link type="text/css" th:href="@{/static/css/bootstrap-theme.min.css}"  rel="stylesheet" >

    <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        //JavaScript代码区域

        layui.use('element', function(){
            var element = layui.element;
            element.on('nav(hbkNavbar)',function(elem){
                /*使用DOM操作获取超链接的自定义data属性值*/
                /*var options = eval('('+elem.context.children[0].dataset.options+')');
                var url = options.url;
                var title = options.title;
                element.tabAdd('tabs',{
                    title : title,
                    content : '<iframe scrolling="auto" frameborder="0"  th:src="@{/show}" style="width:100%;height:100%;"></iframe>',
                    id : '111'
                });*/
            });
            /*使用下面的方式需要引用jquery*/
             $('.layui-nav-child a').click(function () {
                 var options = eval('('+$(this).data('options')+')');
                 var url = options.url;
                 var title = options.title;
                 element.tabAdd('tabs',{
                     title : title,
                     content :
                         '<iframe scrolling="auto" frameborder="0"  th:src="@{/show}" style="width:100%;height:100%;"></iframe>'
                 });
             });
        });

    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">newshop后台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">购买系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">特价商品管理</a></dd>
                    <dd><a href="">物流管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <!-- 设置用户名登录-->
                    [[${session.loginUser}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logOut}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-options="{url:'userIndex.html',title:'商品上架'}">商品上架</a></dd>
                        <dd><a href="javascript:;" data-options="{url:'userIndex',title:'商品添加'}">商品添加</a></dd>
                        <dd><a href="javascript:;" data-options="{url:'test.html',title:'SKU管理'}">SKU管理</a></dd>
                        <dd><a  th:href="@{/show}" data-options="{url:'test.html',title:'商品查看'}">商品查看</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">库存管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-options="{url:'userIndex.html',title:'出入库'}">出入库</a></dd>
                        <dd><a href="javascript:;" data-options="{url:'userIndex.html',title:'库存核对'}">库存核对</a></dd>
                        <dd><a th:href="@{/show}">导出库存</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">配送管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">配送员管理</a></dd>
                        <dd><a href="javascript:;">配送信息</a></dd>
                        <dd><a th:href="@{/show}">配送区域</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统模块设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">权限设置</a></dd>
                        <dd><a href="javascript:;">功能设置</a></dd>
                        <dd><a th:href="@{/show}">用户管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--<div style="padding: 15px;">今日用户登录次数</div>-->
        <div class="layui-tab" lay-filter="tabs" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this">首页</li>
            </ul>
            <div class="layui-tab-content">
               <!-- <div class="layui-tab-item layui-show" >首页内容</div>-->
                <iframe scrolling="auto" frameborder="0"  th:src="@{/userIndex}" style="width:100%;height:100%;"></iframe>
            </div>
            <!--<iframe scrolling="auto" frameborder="0"  th:src="@{/show}" style="width:100%;height:100%;"></iframe>-->
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © newshop - 1640129409
    </div>
</div>

</body>
</html>